# Desc: Player sample configuration file for controlling Stage devices
# Author:  Luis Riazuelo (riazuelo@unizar.es)
# Date: 13 Junio 2007

# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides ["simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "upc.world"	
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "robot0"
driver
( 
 name "stage"
 provides ["6666:position2d:0" "6666:laser:0"]
 model "robot0" 
)
